## Module 3 Exercises

We will work with auto-mpg dataset in this exercises notebook. Most of the exercises will be similar to what you have seen in lab and practice notebooks. You may have to look up for a function or a concept to solve one or two problems in the notebook. But all questions are closed book questions which do not ask beyond what you learned in the class.

Load the data `/dsa/data/all_datasets/auto-mpg/auto-mpg.csv` into R and name the dataframe as `auto_data`

In [12]:
auto_data <- read.csv("/dsa/data/all_datasets/auto-mpg/auto-mpg.csv", header = TRUE, sep = ',')
head(auto_data)

   mpg cylinders displacement horsepower weight acceleration model.year origin
1  18  8         307          130.0      3504   12.0         70         1
2  15  8         350          165.0      3693   11.5         70         1
3  18  8         318          150.0      3436   11.0         70         1
4  16  8         304          150.0      3433   12.0         70         1
5  17  8         302          140.0      3449   10.5         70         1
6  15  8         429          198.0      4341   10.0         70         1
7  14  8         454          220.0      4354    9.0         70         1
8  14  8         440          215.0      4312    8.5         70         1
9  14  8         455          225.0      4425   10.0         70         1
10 15  8         390          190.0      3850    8.5         70         1
11 15  8         383          170.0      3563   10.0         70         1
12 14  8         340          160.0      3609    8.0         70         1
13 15  8         400          150.0      3761    9.5         70         1
14 14  8         455          225.0      3086   10.0         70         1
15 24  4         113          95.00      2372   15.0         70         3
16 22  6         198          95.00      2833   15.5         70         1
17 18  6         199          97.00      2774   15.5         70         1
18 21  6         200          85.00      2587   16.0         70         1
19 27  4          97          88.00      2130   14.5         70         3
20 26  4          97          46.00      1835   20.5         70         2
   car.name
1  chevrolet chevelle malibu
2  buick skylark 320
3  plymouth satellite
4  amc rebel sst
5  ford torino
6  ford galaxie 500
7  chevrolet impala
8  plymouth fury iii
9  pontiac catalina
10 amc ambassador dpl
11 dodge challenger se
12 plymouth 'cuda 340
13 chevrolet monte carlo
14 buick estate wagon (sw)
15 toyota corona mark ii
16 plymouth duster
17 amc hornet
18 ford maverick
19 datsun pl510
20 volkswagen 1131 deluxe sedan

In [2]:
str(auto_data)

'data.frame':	398 obs. of  9 variables:
 $ mpg         : num  18 15 18 16 17 15 14 14 14 15 ...
 $ cylinders   : int  8 8 8 8 8 8 8 8 8 8 ...
 $ displacement: num  307 350 318 304 302 429 454 440 455 390 ...
 $ horsepower  : Factor w/ 94 levels "?    ","100.0",..: 17 35 29 29 24 42 47 46 48 40 ...
 $ weight      : int  3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 ...
 $ acceleration: num  12 11.5 11 12 10.5 10 9 8.5 10 8.5 ...
 $ model.year  : int  70 70 70 70 70 70 70 70 70 70 ...
 $ origin      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ car.name    : Factor w/ 305 levels "amc ambassador brougham",..: 50 37 232 15 162 142 55 224 242 2 ...

**Question 1: ** Display first 10 rows of data for columns mpg, horsepower and car.name

In [4]:
#Code for question 1 goes here
#---------------------------------

library(dplyr)

mpg_hp_name <- auto_data %>% select(mpg, horsepower, car.name)

head(mpg_hp_name, n=10)

   mpg horsepower car.name
1  18  130.0      chevrolet chevelle malibu
2  15  165.0      buick skylark 320
3  18  150.0      plymouth satellite
4  16  150.0      amc rebel sst
5  17  140.0      ford torino
6  15  198.0      ford galaxie 500
7  14  220.0      chevrolet impala
8  14  215.0      plymouth fury iii
9  14  225.0      pontiac catalina
10 15  190.0      amc ambassador dpl

**Question 2: ** Use factor() function to convert the labels of origin column in auto_data from (1,2,3) to (america,europe and asia)

In [13]:
#Code for question 2 goes here
#---------------------------------

auto_data$origin <- factor(auto_data$origin, levels = c(1,2,3), labels = c("america", "europe", "asia"))

   mpg cylinders displacement horsepower weight acceleration model.year origin
1  18  8         307          130.0      3504   12.0         70         america
2  15  8         350          165.0      3693   11.5         70         america
3  18  8         318          150.0      3436   11.0         70         america
4  16  8         304          150.0      3433   12.0         70         america
5  17  8         302          140.0      3449   10.5         70         america
6  15  8         429          198.0      4341   10.0         70         america
7  14  8         454          220.0      4354    9.0         70         america
8  14  8         440          215.0      4312    8.5         70         america
9  14  8         455          225.0      4425   10.0         70         america
10 15  8         390          190.0      3850    8.5         70         america
11 15  8         383          170.0      3563   10.0         70         america
12 14  8         340          160.0      3609    8.0         70         america
13 15  8         400          150.0      3761    9.5         70         america
14 14  8         455          225.0      3086   10.0         70         america
15 24  4         113          95.00      2372   15.0         70         asia
16 22  6         198          95.00      2833   15.5         70         america
17 18  6         199          97.00      2774   15.5         70         america
18 21  6         200          85.00      2587   16.0         70         america
19 27  4          97          88.00      2130   14.5         70         asia
20 26  4          97          46.00      1835   20.5         70         europe
   car.name
1  chevrolet chevelle malibu
2  buick skylark 320
3  plymouth satellite
4  amc rebel sst
5  ford torino
6  ford galaxie 500
7  chevrolet impala
8  plymouth fury iii
9  pontiac catalina
10 amc ambassador dpl
11 dodge challenger se
12 plymouth 'cuda 340
13 chevrolet monte carlo
14 buick estate wagon (sw)
15 toyota corona mark ii
16 plymouth duster
17 amc hornet
18 ford maverick
19 datsun pl510
20 volkswagen 1131 deluxe sedan

**Question 3: ** Create a subset called mpg_data of auto_data to include rows which have mpg >= 12 and <= 15. Select columns cylinders, weight, acceleration, car.name to include in the subset.

In [16]:
#Code for question 3 goes here
#---------------------------------

subset1 <- subset(auto_data, mpg <= 12 & mpg <= 15)

twelve_fifteen <- subset1 %>% select(cylinders, weight, acceleration, car.name)

   cylinders weight acceleration car.name
26 8         4615   14.0         ford f250
27 8         4376   15.0         chevy c20
28 8         4382   13.5         dodge d200
29 8         4732   18.5         hi 1200d
43 8         4955   11.5         dodge monaco (sw)
68 8         4633   11.0         mercury marquis

**Question 4: ** Create a two-way table called "cars_by_origin" for origin and cylinders columns of auto_data. Add rows and columns using addmargins() function.

In [18]:
#Code for question 4 goes here
#---------------------------------

cars_by_origin <- table(auto_data$origin, auto_data$cylinders)


# Two-way table


addmargins(cars_by_origin)


# Adding row/col margins

          3 4   5 6  8   Sum
  america 0  72 0 74 103 249
  europe  0  63 3  4   0  70
  asia    4  69 0  6   0  79
  Sum     4 204 3 84 103 398

**Question 5** Perform chi-squared test for origin and cylinders using the two way table "cars_by_origin" we created above.

In [20]:
#Code for question 5 goes here
#---------------------------------


chisq.test(cars_by_origin)

Warning message in chisq.test(cars_by_origin):
“Chi-squared approximation may be incorrect”

	Pearson's Chi-squared test

data:  cars_by_origin
X-squared = 180.1, df = 8, p-value < 2.2e-16

**Question 6: ** What conclusions can you draw from the chi-squared test?

# Write your answer below this comment
# ------------------------------------


Since the p-value is extraordinarily low, we can reject the null hypothesis and conclude that the two variables are dependent.

**Question 7: ** Use prop.table function on two way table "cars_by_origin" to find column wise proportion of cars in percentages.

In [21]:
#Code for question 7 goes here
#---------------------------------


prop.table(cars_by_origin)

                    3           4           5           6           8
  america 0.000000000 0.180904523 0.000000000 0.185929648 0.258793970
  europe  0.000000000 0.158291457 0.007537688 0.010050251 0.000000000
  asia    0.010050251 0.173366834 0.000000000 0.015075377 0.000000000

**Question 8.a: ** Create a subset from auto_data which includes columns of non factor type. Assign the result to a variable called "less_data"

In [25]:
#Code for question 8.a goes here
#---------------------------------

less_data <- auto_data %>% select(mpg, cylinders, displacement, weight, acceleration, model.year)
head(less_data)

  mpg cylinders displacement weight acceleration model.year
1 18  8         307          3504   12.0         70
2 15  8         350          3693   11.5         70
3 18  8         318          3436   11.0         70
4 16  8         304          3433   12.0         70
5 17  8         302          3449   10.5         70
6 15  8         429          4341   10.0         70

**Question 8.b: ** Find standard deviation of columns in less_data. Use apply() function to find standard deviation of all columns.

In [26]:
#Code for question 8.b goes here
#---------------------------------

sapply(less_data, sd)

         mpg    cylinders displacement       weight acceleration   model.year
    7.815984     1.701004   104.269838   846.841774     2.757689     3.697627

**Question 9: ** What conclusions can you draw the results of questions 7, 8.a, and 8.b?

# Write your answer below this comment
# ------------------------------------

The non factor variables tend to have rather high variation, except for cylinders. It is very high for displacement and weight.

**Question 10.a: ** Run princomp() function on less_data and assign the result to less_data_pca. Run summary() on the result.

In [28]:
#Code for question 10 goes here
# ------------------------------------

less_data_pca <- princomp(less_data)
summary(less_data_pca)

Importance of components:
                            Comp.1       Comp.2       Comp.3       Comp.4
Standard deviation     851.3762025 37.315935705 4.949109e+00 2.357588e+00
Proportion of Variance   0.9980343  0.001917305 3.372535e-05 7.653117e-06
Cumulative Proportion    0.9980343  0.999951616 9.999853e-01 9.999930e-01
                             Comp.5       Comp.6
Standard deviation     2.193819e+00 5.243460e-01
Proportion of Variance 6.626804e-06 3.785632e-07
Cumulative Proportion  9.999996e-01 1.000000e+00

**Question 10.b: ** How many principal components are enough to explain 99% of variance in the data.

# Write your answer below this comment
# ------------------------------------

Component 1 accounts for almost all the variation. Component 2 also accounts for a sizeable amount.

**Question 11:** Fit a linear regression model to predict mpg using principal component 1 generated above. name the model as model1

In [45]:
#Code for question 11 goes here----
model1 <- lm(less_data$mpg ~ less_data_pca$scores[,1])
summary(model1)

Call:
lm(formula = less_data$mpg ~ less_data_pca$scores[, 1])

Residuals:
     Min       1Q   Median       3Q      Max
-12.0375  -2.7892  -0.3737   2.1325  16.4686

Coefficients:
                           Estimate Std. Error t value Pr(>|t|)
(Intercept)               2.351e+01  2.175e-01  108.09   <2e-16 ***
less_data_pca$scores[, 1] 7.630e-03  2.555e-04   29.86   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.34 on 396 degrees of freedom
Multiple R-squared:  0.6925,	Adjusted R-squared:  0.6917
F-statistic: 891.7 on 1 and 396 DF,  p-value: < 2.2e-16

**Question 12.a:** Fit a linear regression model to predict mpg using principal components 1 and 2 generated above. Name the model as model2

In [47]:
#Code for question 12 goes here----
model2 <- lm(less_data$mpg ~ less_data_pca$scores[,1] + less_data_pca$scores[,2])
summary(model2)

Call:
lm(formula = less_data$mpg ~ less_data_pca$scores[, 1] + less_data_pca$scores[,
    2])

Residuals:
     Min       1Q   Median       3Q      Max
-12.4433  -2.9596  -0.3757   2.3593  16.3297

Coefficients:
                           Estimate Std. Error t value Pr(>|t|)
(Intercept)               2.351e+01  2.157e-01 108.994  < 2e-16 ***
less_data_pca$scores[, 1] 7.630e-03  2.534e-04  30.109  < 2e-16 ***
less_data_pca$scores[, 2] 1.595e-02  5.782e-03   2.759  0.00607 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.304 on 395 degrees of freedom
Multiple R-squared:  0.6983,	Adjusted R-squared:  0.6968
F-statistic: 457.1 on 2 and 395 DF,  p-value: < 2.2e-16

**Question 12.b** Compare model1 and model2 and write few words about your observations on improvement in model accuracy $R^2$

# Write your 12.b answer below this comment
# ------------------------------------

Component 1 clearly accounts for the overwhelming majority of the variation. Although both models were quite accurate, model2 was only slightly more accurate than model 1. Of course it would therefore be a better model, but really either model would be quite accurate. This is not too unsurprising given what we saw from our principal components.

# SAVE YOUR NOTEBOOK!