# Data Structures
This Notebook is derived from the [Python Lecture Series](https://github.com/rajathkumarmp/Python-Lectures)   

## Table of Contents
* [Lists](#Lists)
    * [Indexing](#Indexing)
    * [Slicing](#Slicing)
    * [Built-in List Functions](#Built-in-List-Functions)
    * [Copying a list](#Copying-a-list)
* [Tuples](#Tuples)
    * [Mapping one tuple to another](#Mapping-one-tuple-to-another)
    * [Built In Tuple functions](#Built-In-Tuple-functions)
* [Sets](#Sets)
    * [Built-in Set Functions](#Built-in-Set-Functions)
* [Dictionaries](#Dictionaries)

In simple terms, a data structure is a collection or group of data in a particular structure.

## Lists
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets with the data elements separated by a comma. Each of these data elements can be accessed by calling its index value.

You can declare an empty list by just equating a variable to '[ ]' or list().

My points: 
* point1 
* 

Q1: why is the roo.. ?

In [81]:
a = []
b = list()

In [82]:
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

One can directly assign a sequence of data to a list x as shown.

In [85]:
x = ['apple', 'orange']
print(x)

['apple', 'orange']

### Indexing
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>

In Python, indexing starts from 0. Thus list x, which has two elements, will have apple at index 0 and orange at index 1.

In [86]:
print(x[0])

apple

Indexing can also be done in reverse order. That is, you can refer to items as a negative offset from the back of the list. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [5]:
print(x[-1])

orange

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [7]:
y = ['carrot','potato']

Now we have declared two lists x and y each containing its own data. These two lists can be put into another list z which will have two lists as its data. This lists inside of a list structure is called a nested list and is how an array can be declared, which we will see later.

In [8]:
z  = [x,y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in Python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [9]:
z1 = z[0]
print(z1)

['apple', 'orange']

Now to access 'apple', z1 should be indexed at 0.

In [10]:
print(z1[0])

apple

Instead of doing the above, in Python, you can access 'apple' by just writing the index values each time side by side.

In [11]:
print(z[0][0])

apple

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

## <span style="background:yellow">Your Turn</span>

1) In the cell below, create a list of five animals, then print the third animal.

In [12]:
# Add your code below this comment
# ---------------------------------

x = ['dog' , 'cat' , 'hedgehog' , 'mouse' , 'lizard']

print(x[2])

hedgehog

### Slicing
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>

Indexing is limited to accessing a single element. Slicing, on the other hand, is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as list[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [13]:
num = [0,1,2,3,4,5,6,7,8,9]

In [14]:
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed step length by adding another colon and the length. Adding :3 will step 3 between list elements.

In [15]:
print(num[:9:3])

[0, 3, 6]

### Built in List Functions  
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>
For the full list see:
https://docs.python.org/3/tutorial/datastructures.html

To find the length of the list or the number of elements in a list, **len( )** is used.

In [16]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [17]:
min(num)

0

In [18]:
max(num)

9

Lists can be concatenated by adding them using '+'. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [19]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you need to check if a particular element exists in a given list. Consider the below list.

In [20]:
elements = ['Earth','Air','Fire','Water']

To check if 'Fire' and 'Metal' are present in the list names, a conventional approach would be to use a for loop and iterate over the list and use the if condition. However, in Python you can and should use the 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [21]:
'Fire' in elements

True

In [22]:
'Metal' in elements

False

A string can be converted into a list by using the **list()** function.

In [23]:
list('hello')

['h', 'e', 'l', 'l', 'o']

**append( )** can be used to add a element at the end of the list.

In [25]:
lst = [1,1,4,8,7]

In [26]:
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

**count( )** is used to count the number of times a particular element is present in the list.

In [27]:
print(lst.count(1))
print(lst.count(900))

3
0

**append( )** can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [28]:
lst1 = [5,4,2,8]

In [29]:
lst.append(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

But if a nested list is not what is desired then the **extend( )** function should be used.

In [32]:
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2, 8]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [33]:
lst.index(1)

0

**insert(x,y)** is used to insert a element y at a specified index value x. The **append( )** function only allows inserts at the end.

In [34]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2, 8]

**insert(x,y)** inserts but does not replace an element. If you want to replace the element with another element you simply assign the value to that particular index. This property that we can update an element in a list at any point after its first assignment is called **mutability**. We can group all python data structures into two categories: a) mutable and b) immutable. E.g., `list` and `dict` are mutable data structures whereas `string` and `tuple` are immutable data structures.

In [35]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2, 8]

**pop( )** returns and removes the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to say that in Python, lists can be used as a stack.

In [36]:
lst.pop()

8

The index value can be specified to pop a certain element corresponding to that index value.

In [37]:
lst.pop(0)

1

**pop( )** is used to remove an element based on its index value which can be assigned to a variable. One can also remove an element by specifying the element itself using the **remove( )** function.  Note, the remove function only removes the first occurrence of the item.

In [38]:
print(lst)

myVariable = 1
lst.pop(myVariable)
print(lst)

lst.remove('Python')  # it will invoke an error msg
print(lst)

[1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2]
[1, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2]
[1, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2]

An alternative to the **remove** function that uses the index value is **del**

In [39]:
del(lst[1])
print(lst)

[1, 7, 1, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2]

The order of elements present in the list can be reversed by using the **reverse()** function.

In [42]:
lst.reverse()
print(lst)

[1, 7, 1, [5, 4, 2, 8], 5, 4, 2, 5, 4, 2]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list are not reversed.

Python offers the built in operations **sort( )** and **sorted()** to arrange the elements in ascending order.  
We will need to remove the nested list to cleanly sort the list just using the sort() method. 

**sorted()** is a method called **on a list** to rearrange the elements.  
**sort()** is a method **of the list** called to rearrange the elements.  
  
You can use **sorted()** if you want to create a new ordered list and keep the integrity of the original.

In [43]:
lst.pop(3)
lst2 = sorted(lst)
print("ordered: ",lst2)
print("original: ",lst)
lst.sort()
print("original sorted: ",lst)

ordered:  [1, 1, 2, 2, 4, 4, 5, 5, 7]
original:  [1, 7, 1, 5, 4, 2, 5, 4, 2]
original sorted:  [1, 1, 2, 2, 4, 4, 5, 5, 7]

When using **sort()**, by default the reverse condition is False. Hence changing it to True would arrange the elements in descending order.

In [44]:
lst.sort(reverse=True)
print(lst)

[7, 5, 5, 4, 4, 2, 2, 1, 1]

Similarly for lists containing string elements, **sort( )** would sort the elements based on their ASCII value in ascending order, or in descending order by specifying reverse=True.

In [45]:
elements.sort()
print(elements)
elements.sort(reverse=True)
print(elements)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on the length of the string elements, key=len should be specified as shown.

In [46]:
elements.sort(key=len)
print(elements)
elements.sort(key=len,reverse=True)
print(elements)

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

### Copying a list
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>

**Most new Python programmers will commit the following mistake at some point**. Consider the following:

In [47]:
lista=[2,1,4,3]

In [48]:
listb = lista
print(listb)

[2, 1, 4, 3]

Here, we have declared a list, lista = [2,1,4,3]. This list is assigned to listb. Now we perform some random operations on lista.

In [49]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [50]:
print(listb)

[2, 1, 4, 9]

listb has also changed although no operation has been performed on it. This is because we have assigned the same memory space used for lista to listb. So how do we fix this?

If you recall, in slicing we saw that parentlist[a:b] returns a list from parentlist with start index a and end index b. If a and b are not specified then by default the starting index is the first position (0) and the ending index is the last position. We can use this concept here. By doing so, we are copying the data of lista to a new list, listb.

In [51]:
lista = [2,1,4,3]

In [52]:
listb = lista[:]
print(listb)

[2, 1, 4, 3]

In [53]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [54]:
print(listb)

[2, 1, 4, 3]

## Tuples
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>
Tuples are similar to lists but one big difference is that the elements inside of a list can be changed but the elmements in a tuple cannot be changed. This is referred to as being mutable and immutable, respectively.  
We encountered a tuple when we learned the **divmod()** function.

In [55]:
xyz = divmod(10,3)
print(xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

To define a tuple, a variable is assigned to `()` or `tuple( )`.

In [56]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [57]:
27,

(27,)

When using multiply with a tuple, the data is repeated the number of times specified instead of the elements being multiplied by the number, as you may have expected.

In [58]:
2*(27,)

(27, 27)

Values can be assigned while declaring a tuple. **tuple()** can take a list or string as input and convert it into a tuple.

In [59]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

A tuple uses the same indexing and slicing as lists.

In [60]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

### Mapping one tuple to another
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>

A tuple of variable names can be mapped to the elements of another tuple of the same size.

In [61]:
(a,b,c)= ('alpha','beta','gamma')

In [62]:
print(a,b,c)

alpha beta gamma

A single variable name can be used to refer to the whole tuple.

In [63]:
d = tuple('RajathKumarMP')
print(d)

('R', 'a', 'j', 'a', 't', 'h', 'K', 'u', 'm', 'a', 'r', 'M', 'P')

### Built-In Tuple functions
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>

**count()** counts the number of specified elements that are present in the tuple.

In [64]:
d.count('a')

3

**index()** returns the index of the specified element. If the element occurs more than once then the index of the first occurrence of that element is returned.

In [65]:
d.index('a')

1

## Sets
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>

Sets are mainly used to eliminate repeated numbers in a sequence or list. They are also used to perform some standard set operations.

Sets are declared using set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements.

In [66]:
set1 = set()
print(type(set1))

<class 'set'>

In [67]:
set0 = set([1,2,2,3,3,4])
print(set0)

{1, 2, 3, 4}

Elements 2,3 which are repeated twice in the input sequence are seen only once in the set. Thus in a set each element is distinct.

### Built-in Set Functions
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>

In [68]:
set1 = set([1,2,3])

In [69]:
set2 = set([2,3,4,5])

**union( )** returns a set which contains all the elements of both the sets without repetition.

In [70]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** will add a particular element to the set. Note that the index of the newly added element is arbitrary and can be placed anywhere, not necessarily at the end.

In [71]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** outputs a set which contains all the elements that are in both sets.

In [72]:
set1.intersection(set2)

{2, 3}

**difference( )** outputs a set which contains elements that are in set1 and not in set2.

In [73]:
set1.difference(set2)

{0, 1}

**symmetric_difference( )** outputs a set which contains elements that are in either one of the sets but not both.

In [74]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

**issubset( ), isdisjoint( ), issuperset( )** are used to check if set1 or set2 is a subset, disjoint or superset of set2 or set1, respectively.

In [75]:
set1.issubset(set2)

False

In [76]:
set2.isdisjoint(set1)

False

In [77]:
set2.issuperset(set1)

False

**pop( )** is used to remove and return an arbitrary element in the set

In [78]:
set1.pop()
print(set1)

{1, 2, 3}

**remove( )** deletes the specified element from the set.

In [79]:
set1.remove(2)
set1

{1, 3}

**clear( )** is used to clear all the elements, making the set an empty set.

In [80]:
set1.clear()
set1

set()

## Dictionaries
<div style="text-align:right"><a href="#Table-of-Contents">[toc]</a></div>
A last data structure that is relevant is the dictionary.
A dictionary is a collection of `key` -> `value` pairs.
Dictionaries will be covered in more detail in a subsequent section.