# Goal of this practice

In this practice, we will learn several pandas DataFrame operations for transforming data. We will use data from the World Bank that gives yearly GDP per country since 1960. We can formulate various tasks with this data. Right now we will foucus on inspecting and getting basic stats from this data.

# Import pandas

In [2]:
import pandas as pd

data_path = "../resources/gdp.csv"

# Load the data

Before loading any data file, we should open the file in a simple text editor if the file is small. If the file is large, we can use `head` or `less` functions in a **terminal** to read the first few lines. This will give us an idea whether we need to skip some rows in order to load the data. E.g., the following code will throw an error as the data is not in expected format.

In [4]:
gdp_df = pd.read_csv(data_path)

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 65

Let's open the terminal and change to `Module3/resources`. If we execture `head -n 5 gdp.csv` (i.e read the first 5 lines) we will see that the first 4 lines are meta data and we need to skip these rows.

In [5]:
gdp_df = pd.read_csv(data_path, skiprows=4)

## Inspect the data frame

In [6]:
# write your code here
gdp_df = pd.read_csv(data_path, skiprows=4)
# Task: print firt two rows of data
print(gdp_df.head(2))
# Task: What is shape the of the data?
print(gdp_df.shape)
# Task: print the column names
print(gdp_df.columns)
# Task: show the data types
print(gdp_df.dtypes)

  Country Name Country Code     Indicator Name  Indicator Code          1960  \
0        Aruba          ABW  GDP (current US$)  NY.GDP.MKTP.CD           NaN
1  Afghanistan          AFG  GDP (current US$)  NY.GDP.MKTP.CD  5.377778e+08

           1961          1962          1963          1964          1965  ...  \
0           NaN           NaN           NaN           NaN           NaN  ...
1  5.488889e+08  5.466667e+08  7.511112e+08  8.000000e+08  1.006667e+09  ...

           2011          2012          2013          2014          2015  \
0  2.549721e+09  2.534637e+09  2.581564e+09  2.649721e+09  2.691620e+09
1  1.780428e+10  2.000162e+10  2.056105e+10  2.048487e+10  1.990711e+10

           2016          2017          2018  2019  Unnamed: 64
0  2.646927e+09  2.700559e+09           NaN   NaN          NaN
1  1.936264e+10  2.019176e+10  1.936297e+10   NaN          NaN

[2 rows x 65 columns]
(264, 65)
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', 'Unnamed: 64'],
      dtype='object')
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2016              float64
2017              float64
2018              float64
2019              float64
Unnamed: 64       float64
Length: 65, dtype: object

# Remove unnecessary columns

In [9]:
# TODO: drop 'Country Code', 'Indicator Name', 'Indicator Code' columns with drop function
gdp_transpose = gdp_df.drop(columns = ['Country Code', 'Indicator Name', 'Indicator Code'])

## Get country wise stats

Pandas `describe` method operated over columns. Right now country data is row-wise. We need to make them column-wise.

In [14]:
# Set the Index on Country Name - previously was numeric.
gdp_transpose = gdp_df.set_index('Country Name')

# TODO: Transpose the index (i.e. country) and columns (year)
gdp_transpose = gdp_transpose.transpose()

In [15]:
# apply the describe function
gdp_transpose.describe()

Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
count,3.500000e+01,4.200000e+01,4.200000e+01,3.800000e+01,5.200000e+01,5.400000e+01,4.700000e+01,6.000000e+01,3.200000e+01,20,...,1.900000e+01,3.700000e+01,4.300000e+01,6.200000e+01,40,2.200000e+01,3.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01
unique,3.500000e+01,4.200000e+01,4.100000e+01,3.800000e+01,5.200000e+01,5.400000e+01,4.700000e+01,6.000000e+01,3.200000e+01,20,...,1.900000e+01,3.700000e+01,4.300000e+01,6.200000e+01,40,2.200000e+01,3.200000e+01,6.200000e+01,6.200000e+01,6.200000e+01
top,2.646927e+09,5.488889e+08,5.550483e+09,1.138693e+10,3.660531e+09,1.185227e+12,3.394361e+10,3.125628e+10,1.243309e+10,GDP (current US$),...,4.439000e+09,2.868366e+10,9.143011e+08,1.650922e+12,WSM,2.535334e+09,1.674634e+10,1.525874e+11,3.872667e+09,1.909102e+10
freq,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

## Repeat the above exercise. This time only focus on the last 10 years of data.

In [19]:
gdp_df_transpose = gdp_df.drop(columns = ['Country Code', 'Indicator Name', 'Indicator Code'])

gdp_df_transpose.head()

gdp_df_transpose = gdp_df_transpose.set_index('Country Name')

gdp_last_10years_df = gdp_df_transpose.iloc[:, -10:]

gdp_last_10years_df.head()

,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Name,,,,,,,,,,
Aruba,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,NaN
Afghanistan,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,NaN
Angola,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,NaN
Albania,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN,NaN
Andorra,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,NaN

## Extract the following information from this data

In [ ]:
# Task: which country has the maximum GDP in 2011?

# Task: get the avg GDP of France from the year 2001 to 2010

# Task: show country-wise pecent change in GDP with `pct_change()` function