# Variables, Operators, and Data Structures

**While answering the questions, feel free to add cells if it is required. If you wish to write textual formatted output, then use a `Markdown` cell. You can change the cell type from the drop-down menu above.**

**1. Assume that we execute the following assignment statements:**
```python
width = 17
height = 12.0
delimiter = '*'
```
**For each of the following expressions, write codes to store the value of the expression and then print the value and the type of the value.**

```python
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5
```

In [6]:
# write your code below

width = 17
height = 12.0
delimiter = '*'

prob1 = width/2

print('width/2 =', prob1)
print(type(prob1))

prob2 = width/2.0

print('width/2.0 =', prob2)
print(type(prob2))

prob3 = height/3

print('height/3 =', prob3)
print(type(prob3))
      
prob4 = 1 + 2 * 5

print('1 + 2 * 5', prob4)
print(type(prob4))

prob5 = delimiter * 5

print('delimiter * 5 =', prob5)
print(type(prob5))

width/2 = 8.5
<class 'float'>
width/2.0 = 8.5
<class 'float'>
height/3 = 4.0
<class 'float'>
1 + 2 * 5 11
<class 'int'>
delimiter * 5 = *****
<class 'str'>

**2. Consider the following list variable:**

```python
country_list = ['USA', 'Germany', 'England', 'Germany', 'France', 'Russia', 'USA']
```

**Perform the following tasks:**
* **What is the length of the list?**
* **Use a built-in list method to show the number of occurrences for `Germany` and `Japan`**
* **Which data structure stores only unique elements? Use that data structure to identify the unique elements in the list.**

In [10]:
# write your code below

country_list = ['USA', 'Germany', 'England', 'Germany', 'France', 'Russia', 'USA']

length = len(country_list)

print('The length of this list is', length)

print('Germany appears', country_list.count('Germany'), 'times')
print('Japan appears', country_list.count('Japan'), 'times')

countries = set(country_list)

print('The unique countries are', countries)

The length of this list is 7
Germany appears 2 times
Japan appears 0 times
The unique countries are {'Russia', 'USA', 'England', 'France', 'Germany'}

**3. The following code tries to modify the third element of the tuple variable and generates an error.**
```python
student = ('John', 'Biochem', 30)
student[2] = 28
```
**Output:**
```bash
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-12-4178f53e2d31> in <module>
      1 student = ('John', 'Biochem', 30)
----> 2 student[2] = 28

TypeError: 'tuple' object does not support item assignment
```

**Perform the following tasks:**
* **Why is this error happening?**
* **Modify this student info to any other data structures which allow such updates. When the update is done, transform the updated variable into a tuple variable.**

In [1]:
# Write your code below
student = ('John', 'Biochem', 30)
student[2] = 28

TypeError: 'tuple' object does not support item assignment

**4. The following code tries to correct the spelling mistake in the string variable without reassigning the variable with a new value and receives an error.**

```python
country = "Canoda"
country[3] = 'a'
```
**Output:**
```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-18-22ec8ecdac8d> in <module>
      1 country = "Canoda"
----> 2 country[3] = 'a'

TypeError: 'str' object does not support item assignment

```
**Perform the following tasks:**
* **Why is this error happening?**
* **Modify this country variable to any other data structures which allow such updates. When the update is done, transform the updated variable into a string variable.**

In [2]:
# write your code below
country = "Canoda"
country[3]

TypeError: replace() takes at least 2 arguments (1 given)

**5. Suppose we need to store information about about employees in a company. For each eamployee we need to store the following attributes:**

* Employee Id (string)
* First Name (string)
* Last Name (string)
* Salary (Float or Integer)

**In addition to storing info about an employee, we also wish to lookup of an employee info with the employee id attribute.**

**Now, perform the following tasks:**

* **Which data structure (aka type) will you use to store such data? Why?**
* **Create an empty variable with your choosen data type to store employee information**
* **Update the empty variable with information on three employees with randomly choosen values for the attributes**
* **Print the updated variable**

In [ ]:
# write your code