# Strings and Data Structures

## 1
Read a string from the user and, using slices, print the first three and last three characters  

Example Output:  
Str (at least five characters): Strings and Data Structures  
Str  
res

In [ ]:
string = input("Str (at least five characters): ")
# You code between these lines
# ----------------------------





# ----------------------------

# 2
Read a string and print every other character, once starting with the first character, and once starting with the second character  
  
Example Output:  
Str: Banana  
Bnn  
aaa

In [ ]:
string = input("Str: ")
# You code between these lines
# ----------------------------





# ----------------------------

## 3
Read four numbers from the user into a set and print it when finished:

Example Output:  
Number: 2  
Number: 3  
Number: 4  
Number: 5  
{2, 3, 4, 5}

In [ ]:
numbers = set()

# You code between these lines
# ----------------------------





# ----------------------------
print(numbers)

## 4

Construct two sets, A and B, each containing four numbers. Print their union and their intersection.  
Hint: You can use a `for` or `while` loop to loop 4 times to get each number.  The `.add()` method adds a number to a set  

Example Output:  
A Number: 1  
A Number: 2  
A Number: 3  
A Number: 5  
B Number: 2  
B Number: 4  
B Number: 6  
B Number: 8  
Union: {1, 2, 3, 4, 5, 6, 8}  
Intersection: {2}

In [ ]:
A = set()
B = set()

# You code between these lines
# ----------------------------





# ----------------------------

## 5
Create a phonebook entry using a dictionary. Ask the user for their name, city, and phone number. Use the dictionary to map 'name' to their name, 'number' to their phone number, and 'city' to their city. Print the record when finished.  

Example Output:  
Name: John   
Number: 5739999999  
City: Columbia  
{'city': 'Columbia', 'name': 'John', 'number': '5739999999'}

In [ ]:
entry = {}
# You code between these lines
# ----------------------------





# ----------------------------

## 6
Modify the previous solution to create a record from a **single line** of input, using the delimiter character ':' Read and print one entry.  
When you enter input you will literally type "John:5739999999:Columbia" or something similar with a ':' between each name, number, and city.

Example Output:  
name:number:city John:5739999999:Columbia  
{'city': 'Columbia', 'name': 'John', 'number': '5739999999'}

In [ ]:
entry = {}
# You code between these lines
# ----------------------------





# ----------------------------

## 7
Modify the previous code to create a phonebook mapping a name to a number and city. That is, create a dictionary mapping the name to a dictionary containing their city and phone number. **Read three records and print the complete phonebook.**

So the name 'John', will be mapped to an entry which will contain only their number and city. 
For example, if I wanted to map an animal's fur color, breed, and type to a animal's name:  
entry = {'fur': 'yellow', 'breed': 'lab','type': 'dog'}  
book['Charlie'] = entry

Example Output:  
name:number:city John:5739999999:Columbia  
name:number:city Sydney:5738888888:Columbia  
name:number:city Aaron:5737777777:Columbia  
{
    'Aaron': {'number': '5737777777', 'city': 'Columbia'}, 
    'Sydney': {'number': '5738888888', 'city': 'Columbia'}, 
    'John': {'number': '5739999999', 'city': 'Columbia'}
}

In [ ]:
book = {}

# You code between these lines
# ----------------------------

def create_an_inner_dict(input_str):
    name = ..
    city = 
    num = 
    
    return (name, {"num": num, "city": city})

x = input(..)

key, val = create_an_inner_dict(x)

outer_dict = {}
outer_dict[key] = val


# ----------------------------

# Save your Notebook