# Data Carpentry for a Mini Analysis (`Python`)

Data carpentry is a necessary step before we can do any type of analysis. For this exercise, we are going to cleanup the `/baseball-databank/data/Master.csv` that we worked with in the practice and then run a mini analysis on it.

**Exercise 1:** With `pandas`, read in the dataset, `/dsa/data/all_datasets/baseball-databank/data/Master.csv`. Call this data frame, `df`.

In [1]:
# Code for Exercise 1 goes here
# -----------------------------

import pandas as pd
df = pd.read_csv('/dsa/data/all_datasets/baseball-databank/data/Master.csv')

So the columns dealing with death are not necessary for our analysis and just taking up space. Let's go ahead and get rid of them altogether. 

**Exercise 2:** Remove the `deathYear`, `deathMonth`, `deathDay`, `deathCountry`, `deathState`, and `deathCity` columns from the data frame. Rename the data frame without these columns, `df`.

In [2]:
# Code for Exercise 2 goes here
# -----------------------------

df = df.drop(['deathYear', 'deathMonth', 'deathDay', 'deathCountry', 'deathState', 'deathCity'], axis=1)

We now need to start toward the process of combining the values in the `birhtYear`, `birthMonth` and `birthDay` so that we can turn this into a datetime column. First, we need to remove the rows where these columns have `NaN` values.

**Exercise 3:** Now remove the **rows** where the `birthYear`, `birthMonth` and `birthDay` columns are `NaN`. Be sure to reset the index. Call this data frame, `players`.

In [3]:
# Code for Exercise 3 goes here
# -----------------------------

players = df.dropna(subset = ['birthYear', 'birthMonth', 'birthDay'])

Right now the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns are floats. We need to convert them to integers and then strings in order to make this process work.

**Exercise 4:** Convert the `players['birthYear']` and `players['birthDay']` to integers and then strings and then rename these columns `players['birthYear']` and `players['birthDay']`. **For the `players['birthMonth']` column, just change it to an integer.**

In [4]:
# Code for Exercise 4 goes here
# -----------------------------

players.birthYear = players.birthYear.astype(int)
players.birthYear = players.birthYear.astype(str)

players.birthDay = players.birthDay.astype(int)
players.birthDay = players.birthDay.astype(str)

players.birthMonth = players.birthMonth.astype(int)

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Now that `players['birthMonth']` is an integer, we need to add a 0 to all of those months that are single digits. For example `1` will become `01`. This will help when we turn the combined rows into a datetime object. 

For this, you are going to need to run a for loop using this line within the loop, `"{:02}".format(i)`. `i` is the item in the for loop, so be sure that you are iterating over the `players.birthMonth` column. Be sure to add all of these new values to a list that will then become the new `players['birthMonth']` column.

**Exercise 5** Create a list using a for loop that takes the values in the `players['birthMonth']` column and adds a 0 to those values with only a single digit. Then assign this list of values to the `players['birthMonth']` column name.

In [5]:
# Code for Exercise 5 goes here
# -----------------------------

new_list = []

for i in players.birthMonth:
    i = '{:02}'.format(i)
    new_list.append(i)
    
players.birthMonth = new_list

**Exercise 6:** Create a single column that strings the values of the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns together. Be sure to add a hyphen (-) in between the Year and the Month, and the between the Month and the Day. For example, if row 1 had `1950`, `08`, and `01` for the `players['birthYear']`, `players['birthMonth']`, and `players['birthDay']` columns respecitively, the combined row will be `1950-08-01`. Name this row `players['birthdate']`.

*Hint: You can combine the values of string columns together through the following method: `df['column1'] + df['column2']`.*

In [6]:
# Code for Exercise 6 goes here
# -----------------------------

players['birthdate'] = players['birthYear'] + '-' + players['birthMonth'] + '-' + players['birthDay']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

**Exercise 7:** Now turn the `players['birthdate']`, `players['debut']`, and `players['finalGame']` columns into datetime data types.

In [7]:
# Code for Exercise 7 goes here
# -----------------------------

players.birthdate = pd.to_datetime(players.birthdate)
players.debut = pd.to_datetime(players.debut)
players.finalGame = pd.to_datetime(players.finalGame)

**Exercise 8:** Subtract the `birthdate` column from the `debut` column to find out the ages of the players when they started. You will want to call the `.astype('timedelta64[Y]')` method on this value to get the result to return in years. Call this `begin_age`.

In [8]:
# Code for Exercise 8 goes here
# -----------------------------

players.begin_age = players.debut - players.birthdate

players.begin_age = players.begin_age.astype('timedelta64[Y]')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

**Exercise 9:** Find some descriptive statistics on `begin_age`. Who is the oldest person ever to debut? What is the mean age of players when they begin? The median? Standard deviation?

In [9]:
# Code for Exercise 9 goes here
# -----------------------------

print('The mean age is', players.begin_age.mean())

print('The median age is', players.begin_age.median())

print('The standard deviation is', players.begin_age.std())

The mean age is 23.800296670695527
The median age is 24.0
The standard deviation is 2.8708925400637164

# Save your notebook, then `File > Close and Halt`